.footer {
  height: 50vh;
  background-color: rgb(217, 182, 151);
  color: #000;
}
.footer-up {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 40vh;
}
.footer-up li {
  color: #000;
  height: 5vh;
  list-style: none;
}
.text-dark {
  color: #000;
}
.footer-down {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: bold;
  border-top: 1px solid #3E2723;
}
.footer-links  div ,.footer-links h2{
  height: 5vh;
}
.footer-links h2{
  font-size: 18px;
  font-weight: bold;
}