/* General Styling */
body {
  margin: 0;
  padding: 0;
  background-color: #faf3e0; /* Light beige background */
}

.pre-navbar {
  padding: 10px 15px;
  position: fixed;
  width: 100%;
  z-index: 1000; /* Ensure this stays on top */
}
.logo {
  display: flex;
  justify-content: start;
  align-items: center;
}
.logo img {
  margin-right: 5px;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  color: white;
  box-shadow:
    rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px,
    rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px,
    rgba(0, 0, 0, 0.09) 0px -3px 5px;
  padding: 10px 20px;
  height: 4rem;
  position: sticky; /* Make the navbar sticky */
  top: 0; /* Stick to the top */
  z-index: 9999999; /* Ensure the navbar stays on top of other content */
  border-radius: 12px; /* Rounded corners */
  background-color: rgba(255, 255, 255, 0.15);
}

.logo a {
  color: #fff; /* Dark brown for logo */
  font-size: 1.5em; /* Slightly larger logo */
  text-decoration: none;
  font-weight: 700; /* Bold weight for visibility */
}

.nav-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-links li a {
  margin: 0 20px; /* Increased spacing for a more breathable look */
  color: #fff; /* Dark brown for text */
  cursor: pointer;
  font-size: 1.1em; /* Slightly larger font size */
  text-decoration: none;
  transition: color 0.3s ease; /* Smooth transition for hover effects */
}

.nav-links li a:hover {
  color: #ff6f61; /* Coral hover color */
}

.menu-icon {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.menu-icon .line {
  width: 25px;
  height: 3px;
  background-color: #fff; /* Dark color for menu icon */
  margin: 4px 0;
}

/* Mobile Styles */
@media (max-width: 768px) {
  .nav-links {
    position: absolute;
    top: 72px;
    right: 0;

    background: transparent;
    color: rgb(0, 0, 0);
    box-shadow:
      rgba(0, 0, 0, 0.25) 0px 54px 55px,
      rgba(0, 0, 0, 0.12) 0px -12px 30px,
      rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px,
      rgba(0, 0, 0, 0.09) 0px -3px 5px;
    width: 100%;
    background-color: rgba(255, 255, 255, 1);
    flex-direction: column;
    align-items: center;
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    z-index: 999; /* Ensure mobile nav is above */
    border-radius: 0 0 12px 12px; /* Rounded corners at the bottom */
  }

  .nav-links li a {
    color: #000;
  }

  .nav-links.active {
    opacity: 1;
    height: auto; /* Change to auto for dynamic height */
  }

  .menu-icon {
    display: flex;
  }

  .nav-links li {
    padding: 15px 0;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #eee; /* Light border for separation */
  }

  .nav-links li:last-child {
    border-bottom: none;
  }
}
